@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

/* サイト開いた時のふわっと感 */

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

/* topボタン */

#page_top{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 0;
    bottom: 0;
    background: #3f98ef;
    opacity: 0.6;
    z-index: 99999;
  }
  #page_top a{
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
  }
  #page_top a::before{
    font-family: FontAwesome;
    content: '\f102';
    font-size: 25px;
    color: #fff;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
  }

    /* パララックス */

  .block {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

  p {
    display: inline-block;
    padding: 0;
    margin: 0;
  }

  

  .block-one {
    z-index: 100;
  }
  .block-two {
    z-index: 200;
  }
  .block-three {
    z-index: 300;
  }

    .block-nine {
    z-index: 350;
  }


  .block-four {
    z-index: 400;
  }
  .block-five {
    z-index: 500;
  }
  .block-six {
    z-index: 600;
  }
  .block-seven {
    z-index: 700;
  }
  .block-eight {
    z-index: 800;
  }
  .block-11 {
    z-index: 900;
  }




h3 {
    padding: 50px 0;
    font-family: 'Papyrus', 'Elephant', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
    border-bottom: groove;
}

p { 
    font-family: 'ＭＳ 明朝', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
    padding-top: 10px;
}

body {
    animation: fadeIn 2s ease 0s 1 normal;
    -webkit-animation: fadeIn 2s ease 0s 1 normal;
}


#main {
    width: auto;
    height: auto;
}

#top {
    width: 100%;
    height: 180px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: white;
}

#logo {
    float: left;
    padding: 20px 950px 20px 80px;
}

nav{
    text-align: center;
    float: left;
    margin: 0 auto;
    }
    nav ul{
    padding-left: 290px;
    width: auto;
    height: 80px;
    text-align: center;
    margin: 0 auto;
    }
    nav li{
    float: left;
    padding-left: 25px;
    display: block;
    }

    nav li a {
        color: #494949;
    }

    nav ul li a:hover{
        color: rgb(231, 102, 102);
        border-bottom:2px solid rgb(231, 102, 102);
        }


#navi {
    width: 432px;
    height: 75px;
    float: right;
    margin-right: 50px;
}

#container_1 {
    width: 100%;
    height: 975px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
}


#container_2 {
    width: 100%;
    height: 975px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
}

#container_3 {
    width: 100%;
    height: 975px;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(241, 241, 241);
}


#container_4 {
    width: 100%;
    height: 975px;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(241, 241, 241);

}

#container_5 {
    width: 100%;
    height: 975px;
    margin: 0 auto;
    text-align: center;
    background-color: white;

}
#container_6 {
    width: 100%;
    height: 975px;
    margin: 0 auto;
    text-align: center;
    background-color:   white;

}
#container_7 {
    width: 100%;
    height: 975px;
    margin: 0 auto;
    text-align: center;
    background-color:   white;

}
#container_8 {
    width: 100%;
    height: 975px;
    margin: 0 auto;
    text-align: center;
    background-color: white;

}
#container_9 {
    width: 100%;
    height: 975px;
    margin: 0 auto;
    text-align: center;
    background-color: white;

}
#container_10 {
    width: 100%;
    height: 975px;
    margin: 0 auto;
    text-align: center;
    background-color: white;

}




#contents {
    width: 900px;
    height: 975px;
    background-color: white;
    text-align: center;
    margin: 0 auto;
}

#course_description {
    width: 900;
    height: 500px;
    margin: 50px 0;
    text-align: center;
}

#course_description .deco {
    padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
    color: #494949;/*文字色*/
    background: #f4f4f4;/*背景色*/
    border-left: solid 10px #7db4e6;/*左線*/
    border-bottom: solid 3px #d7d7d7;/*下線*/
    width: 400px;
    text-align: center;
    margin: 1em auto;
}

#requirement_area {
    width: 900;
    height: 500px;
    margin: 50px 0;
    text-align: center;
}


#scene_container {
    width: 900px;
    height: 500px;
    margin: 100px 0;
}

.scene_img {
    float: left;
}

.scene_img a {
    background-color: #ffffff;
}
a img:hover {
    opacity: 0.6;
}

#scene_3 {
    clear: both;
}

#scene_container p {
    padding: 50px;
}


.ggmap {
    padding: 30px;
}



form {
    padding: 30px 0;
}

.form_area {
    padding: 15px 0;
}

#contact_contents {
    background-color: white;
    border: 5px groove gray;
    width: 900px;
    height: 700px;
    margin: 30px auto;
}

/* フッター */

footer {
    text-align: center;
    margin: 0 auto;
    background-color: black;
    color: white;
    width: auto;
    height: 400px;
}

#copy_right {
    margin: 0 auto;
    text-align: center;
    padding: 150px;
}

dd, dt {
    font-size: 90%;
}